@use '../../styles/colors.scss' as colors;

.button {
  text-decoration: none;
  color: colors.$k-white;
  background: colors.$k-orange;
  width: fit-content;
  font-size: 24px;
  border-radius: 8px;
  padding: 5px 28px;
  cursor: pointer;
  border: none;
  transition: all 0.05s;
  font-family: OpenSans, sans-serif;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;

  &:hover {
    // transform: scale(1.05);
    background-color: colors.$k-black;
  }

  &:active {
    // transform: scale(1);
  }

  &.small {
    padding: 4px 8px;
    font-size: 14px;
  }

  &.wide {
    min-width: 10em;
  }

  &.xwide {
    min-width: 20em;
  }

  &.fullWidth {
    width: 100%;
  }

  &.clear {
    background-color: transparent;
    font-weight: 100;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &.alt {
    background-color: colors.$k-white;
    color: colors.$k-black;
  }

  &.unstyled {
    color: inherit;
    background: inherit;
    padding: 0;
    border: none;

    &:hover {
      transform: scale(1.1);
    }
  }
}