@use '../../styles/colors.scss' as colors;

button.button {
  color: black;
  background: colors.$nec-gold;
  width: fit-content;
  font-size: 24px;
  border-radius: 8px;
  padding: 5px 28px;
  cursor: pointer;
  border: none;
  transition: all 0.05s;
  font-family: Montserrat, sans-serif;
  box-shadow: 1px 1px 0px #00000088;

  &:hover{
    // transform: scale(1.05);
    background-color: white;
  }

  &:active {
    // transform: scale(1);
  }

  &.small {
    padding: 4px 8px;
    font-size: 14px;
  }

  &.wide {
    min-width: 10em;
  }

  &.xwide {
    min-width: 20em;
  }

  &.fullWidth {
    width: 100%;
  }
  
  &.unstyled {
    color: inherit;
    background: inherit;
    padding: 0;
    border: none;

    &:hover {
      transform: scale(1.1);
    }
  }

 
}
