@use '../styles/colors.scss' as colors;

$width: 1000px;
$ae: #aeaeae;

$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 32px;
$xl: 64px;
$x2: 128px;
$x3: 256px;
$x4: 512px;

.page-container {
  overflow: hidden;

  .navbar {
    color: colors.$white;
    position: absolute;
    left: 1em;
    right: 1em;
    top: 1em;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  >.page {
    min-height: 100vh;

    .main {
      min-height: 100vh;
    }

    .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 150vh;
      background-image: url('../assets/img/hil2.webp');
      background-size: cover;
      background-position: center;
      z-index: 1;
    }

    .dimmer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 150vh;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2;
    }

    .brighter {
      position: absolute;
      top: 5vh;
      left: 35vw;
      width: 30vw;
      height: 125vh;
      // background-color: rgba(255, 255, 255, 0.3);
      backdrop-filter: brightness(1.75);
      z-index: 3;
      border: 1px solid transparent;
      border-radius: $md;
      border-image:
        linear-gradient(to bottom right, transparent, colors.$white, transparent, colors.$white, transparent) 1;
    }

    &.isMobile {
      .brighter {
        top: 10vh;
        width: 67vw;
        left: 16vw;
        height: 90vh;
      }
    }

    .header {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: colors.$white;
      min-height: 120vh;
      mask-image: linear-gradient(to bottom, black 80%, transparent);

      &.main-page {
        min-height: 150vh;
      }

      .title {
        text-align: center;
        font-size: min($x2, 10vh);
        font-style: normal;
        font-family: BarlowBold;

        &:not(.kinode) {
          flex-grow: 1;
          align-self: stretch;
          text-shadow: 0 0 64px rgba(0, 0, 0, 0.63);
          margin-top: 40vh;
        }

        &.kinode {
          font-family: Futura, sans-serif;
          font-weight: 500;
        }
      }

      .subtitle {
        font-weight: bold;
        margin-right: $lg;
        border: none;
        border-radius: $sm;
        text-align: right;
        background-color: colors.$mdark-gray;
        color: colors.$white;
        font-family: OpenSansLight, sans-serif;
        letter-spacing: -0.03em;

        &.light {
          background-color: colors.$medium-white;
          color: colors.$black;
        }
      }
    }

    &.top {
      min-height: 150vh;
      background-color: colors.$k-velvet-red;
    }

    &.orange {
      color: colors.$white;
      background-color: colors.$k-velvet-red;
      place-items: center;
      place-content: center;
      position: relative;
      margin-top: calc(-1 * $x2);
      z-index: 10;
      mask-image: linear-gradient(to bottom, transparent, black 5%);
      $size: calc(min(90vw, 60vh));

      .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image:
          linear-gradient(rgba(255, 255, 255, 0.2), transparent),
          linear-gradient(colors.$k-orange, colors.$k-orange);
        background-size: 100%;
        box-shadow:
          0 -32px 64px colors.$k-orange,
          0 -32px 128px colors.$k-orange,
          0 -32px 256px colors.$k-orange;
        border-radius: 50%;
        width: $size;
        height: $size;
        filter: blur(10px);
        pointer-events: none;
      }

      .circle-text {
        max-width: 400px;
        place-items: center;
        place-content: center;
        z-index: 1;

        h1 {
          text-align: center;
          font-size: calc($size / 10);
          line-height: 1;
        }

        .text {
          font-size: calc($size / 20);
          text-align: center;
        }
      }
    }

    &.partners {
      background-image: linear-gradient(to bottom, colors.$k-velvet-red, black);
      min-height: 60vh;
      position: relative;

      .title {
        position: absolute;
        top: 0;
        left: $sm;
        font-size: $x3;
        font-family: OpenSans, sans-serif;
        background: -webkit-radial-gradient(ellipse at center,
            rgba(255, 255, 255, 0.1) 60%,
            transparent 80%);
        background: radial-gradient(ellipse at center,
            rgba(255, 255, 255, 0.1) 60%,
            transparent 80%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .partners-list {
        align-self: stretch;
        flex-grow: 1;
        padding: $md;

        .partner {
          place-items: center;
          padding: $md;
          width: 20vw;
          max-height: 40vh;
          flex-grow: 1;
          margin: $x2 $md 0 0;
          align-self: stretch;
          position: relative;
          transition: all 0.1s ease;
          border-radius: $xl;

          &::before {
            position: absolute;
          }

          img {
            height: 100px;
            width: 100px;
            object-fit: cover;
            object-position: center;
            filter: grayscale(1);
            margin-top: auto;
            border-radius: $sm;
          }

          .partner-name {
            text-transform: uppercase;
            font-family: OpenSans, sans-serif;
            margin-top: auto;
            transition: all 0.1s ease;
            text-align: center;
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            background-image: linear-gradient(rgba(0, 0, 0, 0.1), transparent);
            backdrop-filter: blur($sm);

            .partner-name {
              font-size: $lg;
            }
          }
        }
      }

      &.isMobile {

        .title {
          position: relative;
          font-size: min($x2, 5vh);
          margin: 0 auto;
        }


        .partners-list {
          flex-direction: column;
          align-items: center;

          .partner {
            margin: $md 0 0 0;
            width: 100%;

            .partner-name {
              font-size: min($x2, 3vh);
              margin-top: $md;
            }
          }
        }
      }
    }

    &.stairs {
      position: relative;
      background-color: black;
      overflow: hidden;
      height: unset;
      min-height: calc(max(60vh, 60vw));

      .stairs1,
      .stairs2 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100vw;
        mask-image: linear-gradient(to bottom, black, transparent 70%);
      }
    }

    &.team {
      overflow: hidden;
      place-content: center;
      place-items: center;
      max-width: 100vw;
      position: relative;
      background-image: linear-gradient(to bottom, black, colors.$k-velvet-red, black);
      padding-top: $x3;
      padding-bottom: $x2;

      .glowbird {
        pointer-events: none;
        position: absolute;
        width: 90vw;
        top: 50%;
        transform: translateY(-50%);
        right: 5vw;
        left: 5vw;
        // z-index: 1;
        mask-image: linear-gradient(to bottom, black, transparent 50%);
      }

      .title {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        font-size: $x3;
        font-family: OpenSans, sans-serif;
        background: -webkit-radial-gradient(ellipse at center,
            rgba(255, 255, 255, 0.1) 60%,
            transparent 80%);
        background: radial-gradient(ellipse at center,
            rgba(255, 255, 255, 0.1) 60%,
            transparent 80%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .arrow {
        position: absolute;
        cursor: pointer;
        transition: all 0.1s ease;
        max-height: 20vh;
        max-height: 15vh;
        top: 50%;
        transform: translateY(-50%);

        &.right {
          right: 12%;
        }

        &.left {
          left: 12%;
          transform: translateY(-50%) scaleX(-1);
        }
      }

      .team-members {
        perspective: 750px;
        max-width: unset;
        flex-grow: 1;
        place-content: center;
        place-items: center;
        $size: calc(max(40vw, 60vh));
        margin-left: calc(-1 * $size);
        padding-bottom: $x2;

        .team-member {
          position: relative;
          width: $size;
          height: $size;
          transition: all 0.5s ease;
          overflow: hidden;
          margin-right: calc(-1 * $size);

          &::before {
            position: absolute;
            border-radius: $md;
            z-index: 4;
            pointer-events: none;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: $md;
          }

          .open-bio {
            position: absolute;
            right: $lg;
            top: $lg;
            cursor: pointer;
            z-index: 3;

            &:hover {
              transform: scale(1.1);
              filter: brightness(1.1);
            }
          }

          .bio {
            position: absolute;
            right: 0;
            top: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur($sm);
            z-index: 2;
            border-radius: $md;
            display: flex;
            place-content: center;
            place-items: center;
            padding: $lg;
            font-size: 1.5em;
            z-index: 1;
            transform: translateY(-100%);
            transition: all 0.5s ease;
            opacity: 0;
          }

          &.bioOpen {
            .bio {
              opacity: 1;
              transform: translateY(0%);
            }

            .name {
              .dotted-line {
                opacity: 1;
                width: 100%;
              }

              .team-member-title {
                text-transform: none;
                opacity: 1;
              }
            }
          }

          .name {
            font-family: OpenSans, sans-serif;
            text-transform: uppercase;
            position: absolute;
            top: $lg;
            left: $lg;
            font-size: 1.5em;
            z-index: 2;
            color: colors.$k-white;

            .dotted-line {
              align-self: stretch;
              width: 0px;
              height: 1px;
              border-top: 1px solid colors.$k-dimwhite;
              border-radius: $sm;
              margin: $xs 0;
              opacity: 0;
              transition: all 0.5s ease;

              &::before {
                content: '';
                border: 3px solid colors.$k-white;
                border-radius: 100%;
                height: 0px;
                width: 0px;
                display: block;
                margin-top: -3px;
              }
            }

            .team-member-title {
              font-size: $md;
              font-family: Barlow;
              opacity: 0;
            }
          }
        }
      }

      &.isMobile {
        height: 100vh;
        padding: 0;

        .title {
          position: absolute;
          font-size: min($x2, 20vh);
          margin: 0 auto;
          left: unset;
          transform: unset;
        }

        .team-members {
          $size: 90vw;
          margin-left: -90%;
          height: 100vh;

          .team-member {
            width: $size;
            height: $size;
            margin: $md 0 0 0;

            .bio {
              font-size: 1em;
            }
          }
        }

        .arrow {
          top: unset;
          bottom: 10%;
        }
      }
    }

    &.cave {
      background-color: black;
      position: relative;
      overflow: hidden;
      $height: 150vh;
      height: $height;
      margin-bottom: $xl;

      .bord {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -10%);
        width: 8vw;
        z-index: 1;
      }

      .background {
        background-image: url('../assets/img/flowercave.webp');
        background-size: cover;
        background-position: center;
        mask-image: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
      }

      .brighter {
        border-radius: $lg;
        backdrop-filter: brightness(2);
        border-image: none !important;
        height: calc($height * 3/4);

        &::before {
          border-radius: $lg;
        }
      }

      .dimmer,
      .background {
        height: calc($height * 3/4);
      }

      &.isMobile {
        margin-bottom: 0;

        .bord {
          top: 20%;
          left: 50%;
          transform: translate(-50%, -20%);
          width: 25vw;
        }

        .brighter {
          height: calc($height * 3/4);
        }
      }
    }

    .super-footer {
      background-color: black;

      .navbar {
        position: static;
      }

      .addresses-etc {
        justify-content: space-between;
        align-items: flex-start;
        padding: $lg 96px;

        .addresses {
          justify-content: space-between;
          align-items: flex-start;

          .address {
            margin-left: $lg;
          }

          .label {
            font-weight: bold;
            margin-bottom: 1em;
          }

          .value {
            color: $ae;
          }
        }
      }

      .tiny-stripe {
        color: #434343;
        padding: $md 96px;
        justify-content: space-between;
        border-top: 1px solid;
        font-size: 12px;
      }
    }

    &.isMobile {
      .main {
        .header {
          padding: 0;

          .title {
            margin-top: $x2;
            font-size: $xl;
            padding: $md;
          }
        }

        .super-footer {
          .addresses-etc {
            padding: 0;
          }
        }

        .overlay {
          position: fixed;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
        }

        .subtitles {
          flex-wrap: wrap;

          .subtitle {
            margin: $md;
          }
        }

        .infos {
          flex-wrap: wrap;

          .infos-and-image {
            flex-wrap: wrap;

            &.blued {
              flex-direction: column-reverse;
            }

            .side-image {
              margin-left: 0;
              margin-right: 0;
            }
          }
        }

        .info {
          margin-left: 0 !important;
          margin-right: 0 !important;
          padding: $lg !important;
        }
      }
    }
  }

  .footer-menu {
    &.isMobile {
      .menu {
        padding: $x3 0;
      }
    }

    .menu.overlay {
      position: static;
      margin: 0;
      background-color: black;
      min-height: unset;
      height: unset;

      .box-box,
      .bird {
        display: none;
      }

      a {
        font-size: $xl;
        background-image: none;
        -webkit-text-fill-color: colors.$white;
      }

      .join {
        display: block;
        align-self: flex-end;
      }

      .josh {
        margin-top: 0;
        font-size: $lg;
      }

      .looney {
        visibility: visible;
      }
    }
  }
}


.looney {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);

  .l {
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .l1 {
    mask-image: radial-gradient(circle, black 30%, transparent 60%);
  }

  .l2 {
    transform: translate(-50%, -35%);
    height: 50px;
  }
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(50px);
  display: flex;
  transition: opacity 0.1s ease;

  .looney {
    visibility: visible;
    bottom: 50%;

    .l3 {
      mask-image: radial-gradient(circle at bottom, transparent 30%, black);
      animation: spin 1s linear infinite;
    }
  }
}

input {
  font-family: OpenSans, sans-serif;
  font-size: $lg;
  border: 1px solid colors.$k-white;
  border-radius: $sm;
  padding: $sm $md;
  background-color: colors.$k-dimwhite;
  color: colors.$k-white;

  ::placeholder {
    color: colors.$k-white;
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}