@use '../styles/colors.scss' as colors;

$width: 1000px;
$ae: #aeaeae;

$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 32px;
$xl: 64px;
$x2: 128px;
$x3: 256px;
$x4: 512px;

.page-container {
  .navbar {
    color: #eee;
    position: absolute;
    left: 1em;
    right: 1em;
    top: 1em;
  }

  .menu {
    position: fixed;
    top: 5em;
    right: 1em;

    .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  > .page {
    min-height: 100vh;
    background-color: colors.$nec-grey;
    color: #0f0f0f;
    font-family: 'Montserrat', sans-serif;

    .main {
      background-image: url('../../src/assets/img/scanline.png');
      min-height: 100vh;
  
      .header, .footer {
        background-color: colors.$nec-teal;
      }
    }

    .bg-bd-blur {
      background-color: #111111aa;
      backdrop-filter: blur($md);

      &.superblur {
        backdrop-filter: blur($xl);
      }
    }

    .header {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: #eee;
      min-height: 100vh;

      .title {
        text-align: center;
        font-family: 'Kabel Black';
        font-size: $xl;
        font-style: normal;
        font-weight: 500;
        margin-top: $lg;
        margin-bottom: $lg;
        padding: $md $x2;
        text-shadow: 1px 1px 0px #000;
      }

      .subtitle {
        font-weight: bold;
        margin: $lg auto $x4 auto;
        padding: $sm $md;
        border: none;
        border-radius: $sm;
        text-align: center;
        background-color: colors.$mdark-gray;
        color: white;

        &.light {
          background-color: colors.$medium-white;
          color: black;
        }
      }
    }

    .blued {
      .info {
        background-color: colors.$nec-teal !important;
        margin: $sm $md $sm $sm !important;
      }

      .subtitle {
        margin: $sm $sm $sm $md !important;
      }
    }

    .info {
      background-color: white;
      border-radius: $md;
      padding: $lg $xl;
      max-width: $width;
      align-self: center;
      margin: $md;

      .title {
        font-size: $lg;
        font-weight: bold; 
        margin-bottom: 0.5em;
      }
    }

    .infos {
      margin: $md 0;

      .infos-and-image {
        .infos-list {
          flex-grow: 1;
          align-self: stretch;
  
          .info {
            flex-grow: 1;
            align-self: stretch;
            margin: $sm $sm $sm $md;
            background-color: colors.$nec-lightorange;
            place-content: center;
            max-width: unset;
          }
  
        }
        .side-image {
          color: white;
          font-size: large;
          padding: $md $lg;
          border-radius: 1em;
          max-width: 400px;
          align-self: flex-start;
          margin: $sm;
          border: 1px solid #333;
      
          &:first-child {
            margin-left: $md;
          }
      
          &:last-child {
            margin-right: $md;
          }
      
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: $md;
            margin: $md 0;
          }
        }
      }
    }

    .full-band {
      padding: $lg $xl;
      align-self: stretch;
      margin: 0;

      .title {
        font-size: $lg; 
        margin-bottom: 0.5em;
      }
    }

    .super-footer {
      background-color: #030511;
      color: white;
      font-size: 14px;

      .navbar {
        position: static;
      }

      .addresses-etc {
        justify-content: space-between;
        align-items: flex-start;
        padding: $lg 96px;
        
        .addresses {
          justify-content: space-between;
          align-items: flex-start;

          .address {
            margin-left: $lg;
          }

          .label {
            font-weight: bold;
            margin-bottom: 1em;
          }
          
          .value {
            color: $ae;
          }
        }
      }

      .tiny-stripe {
        color: #434343;
        padding: $md 96px;
        justify-content: space-between;
        border-top: 1px solid;
        font-size: 12px;
      }
    }

    &.isMobile {
      .main {
        .header {
          padding: 0;
          animation: moveBackground ease-in-out 40s infinite;
    
          .title {
            margin-top: $x2;
            font-size: 32px;
            padding: $md;
          }
        }
    
        .super-footer {
          .addresses-etc {
            padding: 0;
          }
        }
    
        .menu {
          position: fixed;
          bottom: 8em;
          top: unset;
          right: 1em;
    
          .overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
          }
        }
    
        .subtitles {
          flex-wrap: wrap;
    
          .subtitle {
            margin: $md;
          }
        }
    
        .infos {
          flex-wrap: wrap;
          .infos-and-image {
            flex-wrap: wrap;

            &.blued {
              flex-direction: column-reverse;
            }

            .side-image {
              margin-left: 0;
              margin-right: 0;
            }
          }
        }
    
        .info {
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
      }
    }
  }
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
