@use '../styles/page.scss' as page;
@use '../styles/colors.scss' as colors;

.page-container {
  .page {
    .main {
      background-image: url('../../src/assets/img/scanline.png');
    }

    .header, .footer {
      background-color: colors.$nec-teal;
    }

    .header {
      background-image: url('../../src/assets/img/hum4.png');
    }

    .infos {
      margin: page.$md 0;

      .subtitle {
        place-content: center;
        place-items: center;
        margin: page.$sm page.$md page.$sm page.$sm;
        flex-grow: 1;
        align-self: stretch;
      }

      .infos-list {
        flex-grow: 1;
        align-self: stretch;
      }

      .info {
        flex-grow: 1;
        align-self: stretch;
        margin: page.$sm page.$sm page.$sm page.$md;
        background-color: colors.$nec-lightorange;
        place-content: center;
      }
    }

    .partnerships {
      background-color: colors.$charcoal;
      color: white;

      .partners {
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 1em;

        .partner {
          color: white;    
          margin: 1em;
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: center;
          align-self: stretch;
          border-radius: page.$md;
          box-shadow: 0 0 page.$md 0 #00000033;
          background-color: #FFFFFF11;
          transition: all 0.1s ease;

          &:hover {
            transform: scale(1.1);
            filter: saturate(1.1) brightness(1.1);
            background-color: colors.$nec-yellow;
            color: black;
          }
          
          img {
            width: 100px;
            height: 100px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: page.$sm;
            margin: 1em;
          }

          .partner-name {
            margin: 0 auto page.$md auto;
            align-self: stretch;
          }
        }
      }
    }

    .team {
      background-color: colors.$nec-teal;

      .team-members {
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 1em;

        .team-member {
          margin: 1em;
          place-content: center;
          border-radius: page.$md;
          background-color: #eee;
          box-shadow: 0 0 page.$md 0 #00000033;
          transition: all 0.1s ease;
          position: relative;
          flex-grow: 1;
          align-self: stretch;
          place-content: center;
          color: black;

          &:hover {
            transform: scale(1.1);
            filter: saturate(1.1) brightness(1.1);
          }
          
          img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: page.$sm;
            margin: 1em;
            place-self: center;
          }

          .name {
            margin: 0 auto page.$md auto;
            align-self: stretch;
          }

          .bio {
            color: white;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            padding: page.$md page.$xl;
            position: absolute;
            transition: all 0.1s ease;
            border-radius: page.$md;
            text-align: center;
            place-content: center;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &.isMobile {
    .partnerships {
      .partner {
        margin: page.$sm !important;
      }
    }
  }
}