@use '../styles/colors.scss' as colors;
@use '../styles/page.scss' as page;

.page-container {
  .blog.page {
    background-image: radial-gradient(circle at top center, colors.$k-wine-dark, colors.$k-dirge-green, colors.$k-wine-dark);
    padding-bottom: page.$x3;

    &:not(.mainPage) {
      .header {
        .title {
          margin-top: page.$xl;
          position: relative;

        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(page.$md);
          mask-image: linear-gradient(to bottom, black 30%, transparent 50%);
        }
      }

      &,
      &.isMobile {
        .header {

          .title {
            margin-top: page.$xl;
          }
        }
      }
    }

    .header,
    .footer {
      background-color: colors.$k-wine-dark;
    }

    .header {
      background-image: url('../../src/assets/img/huminalib.webp');
    }

    .recent-posts {
      padding: 32px 64px;
      max-width: page.$width;
      align-self: center;
      margin: 32px 64px;

      .title {
        font-size: 32px;
        margin-bottom: 0.5em;
        font-family: Futura, sans-serif;

        .recent {
          margin-right: 10px;
        }

        .posts {
          color: colors.$k-red;
        }

        .all {
          opacity: 0.75;
          margin-left: auto;
          font-size: 0.75em;
        }
      }

      .posts {
        .all {
          place-self: center;
          font-size: 32px;
        }
      }
    }

    &.isMobile {

      .recent-posts {
        padding: 0;
      }
    }
  }
}