@use '../styles/colors.scss' as colors;

$width: 1000px;
$ae: #aeaeae;

$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 32px;
$xl: 64px;
$x2: 128px;
$x3: 256px;
$x4: 512px;

.blog-container {
  .navbar {
    color: #eee;
    position: absolute;
    left: 1em;
    right: 1em;
    top: 1em;
  }

  .menu {
    position: fixed;
    top: 5em;
    right: 1em;

    .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  .blog {
    min-height: 100vh;
    background-color: colors.$nec-teal;
    color: #0f0f0f;
    font-family: 'Montserrat', monospace;

    .main {
      background-image: url('../../src/assets/img/scanline.png');
    }

    .header, .footer {
      background-color: colors.$nec-green;
    }

    .bg-bd-blur {
      background-color: #111111aa;
      backdrop-filter: blur(16px);
    }

    .header {
      background-image: url('../../src/assets/img/sunset-computer.jpeg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: #eee;
      place-content: center;

      &.forEpisode {
        min-height: unset;
      }

      .nwa-navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: colors.$nec-green;
        opacity: 0.9;
        filter: saturate(0.5);
        padding: 16px 32px;
        border-bottom: 1px solid $ae;
        z-index: 3;
        justify-content: flex-end;
        font-family: 'Kabel Black';
        
        .nbt {
          flex-grow: 1;
          color: inherit;
        }

        a {
          margin-right: 32px;
          cursor: pointer;

          &:hover {
            color: colors.$nec-orange;
            font-weight: bold;
          }
        }
      }
      
      .title {
        text-align: center;
        font-family: 'Kabel Black';
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        margin-top: $x2;
        margin-bottom: $x4;
        padding: 16px 0;
    
        .work-age {
          color: colors.$nec-green;
        }
      }

      .subtitle {
        background-color: #00000033;
        font-size: large;
        padding: 1em 2em;
        border-radius: 1em;
        max-width: 800px;
        align-self: center;
        margin: 3em;
        text-align: center;
        border: 1px solid #333;
      }
    }

    .recent-posts {
      background-color: white;
      border-radius: 40px;
      padding: 32px 64px;
      max-width: $width;
      align-self: center;
      margin: 32px 64px;
    

      .title {
        font-size: 32px; 
        margin-bottom: 0.5em;
        font-family: 'Kabel Black';

        .recent {
          margin-right: 10px;
        }

        .posts {
          color: colors.$nec-red;
        }

        .all {
          opacity: 0.75;
          margin-left: auto;
          font-size: 0.75em;
        }
      }

      .posts {
        .post {
          transition: all ease-in-out 0.2s;
          border-radius: 32px;
          padding: 32px;
          border: 1px solid $ae;
          margin-bottom: 16px;
          box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);

          &:hover {
            background-color: colors.$nec-lightorange;
          }

          .permalink {
            color: inherit;
            margin-bottom: 16px;
          }

          .post-con {
            align-items: flex-start;
          }

          iframe {
            margin-top: 32px;
            padding: 10px 10px 0 10px;
            border: 1px solid $ae;
            border-radius: 8px;
            background: #fff;
          }

          .ls {
            place-content: center;
            margin: 0 32px 0 0;
            align-items: flex-start;

            .icon {
              max-width: 100px;
              border-radius: 16px;
              margin-bottom: 16px;
              align-self: flex-start;
            }

            .embedded-ep {
              align-self: stretch;
              margin-top: auto;
            }
          }

          .post-deets {
            align-self: stretch;
            justify-self: stretch;

            .title {
              font-size: x-large;
              font-weight: bold;
              margin-bottom: 16px;

              .feat {
                color: colors.$nec-orange;
              }

              
            }

            .date {
              margin-left: 1em;
            }

            .content {
              margin-bottom: 32px;
            }

            .read-more {
              font-size: 16px;
              color: black;
              background-color: colors.$nec-teal;
              text-decoration: none;
              padding: 0.5em 1em;

              &:hover {
                background-color: colors.$nec-orange;
              }
            }
          }

          &.singleton {
            .icon {
              max-width: 500px;
            }
          }
        }

        .all {
          place-self: center;
          font-size: 32px;
        }
      }
    }

    .related-projects {
      padding: 45px 57px;
      max-width: $width;
      align-self: center;
      place-items: center;
      place-content: center;

      .title {
        font-size: 32px; 
        margin-bottom: 1em;
        font-weight: bold;
        padding: 16px 32px;
        border-radius: 16px;
        color: white;

        .related {
          margin-right: 16px;
        }

        .projects {
          color: colors.$nec-red;
        }
      }

      .projs {
        place-content: center;
        align-content: center;

        .proj {
          border-radius: 24px;
          background: white;
          box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
          margin-right: 16px;
          padding: 32px;
          align-self: stretch;
          text-align: center;
          transition: all 0.1s ease-in-out;
          flex-basis: 33%;

          &:hover {
            transform: scale(1.1);
            background-color: colors.$nec-gold;
            .name {
              color: black !important;
              text-decoration: underline;
            }
          }

          .iconname {
            font-size: 24px;
            place-content: center;
            align-content: center;
  
            .icon {
              border-radius: 999px;
              height: 2em;
              width: 2em;
              margin-right: 0.5em;
            }

            .name {
              font-weight: bold;
              color: colors.$nec-teal;
            }
          }

          .desc {
            text-align: left;
            margin-top: 1em;
            padding: 0 16px;
          }
        }
      }
    }


    .reviews {
      background-image: url('../../src/assets/img/150cfa2dae365da4d2933c33f6fb0d83.jpeg');
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 350px;
      border-radius: 40px;
      border: 1px solid #363636;
      padding: 45px 57px;
      max-width: $width;
      margin: 32px;
      color: white;
      place-items: center;
      place-content: center;
      place-self: center;
      position: relative;

      .title {
        position: absolute;
        top: 32px;
        left: 64px;
        font-size: 32px; 
        font-weight: bold;
        margin-bottom: 1em;        
      }

      .buttons {
        position: absolute;
        left: 64px;
        bottom: 32px; 

        .button {
          margin-right: 16px;
          background-color: #ffffff22;
          padding: 16px;
          border-radius: 999px;
        }
      }

      .carousel {
        .att {
          place-content: center;
          align-content: center;
          text-align: center;

          .username {
            font-weight: bold;
            margin-top: 1em;
          }

          .review {
            line-height: 2em;
          }
        }

        .icon {
          font-size: 64px;
          opacity: 0.5;
          margin: 32px;
          width: 64px;
          height: 64px;
        }

      }
    }

    .footer {
      background: #07091B;
      min-height: 600px;
      justify-content: flex-end;
      align-self: stretch;
      place-items: center;

      .title {
        font-size: 32px;
        margin-bottom: 32px;
        font-weight: bold;

        .connect {
          color: colors.$nec-gold;
          margin-right: 16px;
        }

        .with-us {
          color: white;
        }
      }

      .connectrons {
        max-width: 800px;
        margin-bottom: 64px;

        .groups {
          margin-bottom: 16px;

          .c1 {
            max-width: 300px;
            align-self: stretch;
            align-items: flex-start;
            border: 1px solid $ae;
            border-radius: 16px;
            padding: 16px;
            margin-right: 16px;
            
            .sig {
              padding: 4px 12px;
              border: 1px solid $ae;
              border-radius: 999px;
              color: colors.$nec-gold;
              margin-right: 16px;
            }

            .group {
              color: $ae;
            }
          }
        }

        .x {
          justify-content: space-between;

          .link {
            background-color: colors.$nec-gold;
            color: black;
            border-radius: 8px;
            padding: 8px 32px;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }

    .super-footer {
      background-color: #030511;
      color: white;
      font-size: 14px;

      .navbar {
        position: static;
      }

      .addresses-etc {
        justify-content: space-between;
        align-items: flex-start;
        padding: 32px 96px;
        
        .addresses {
          justify-content: space-between;
          align-items: flex-start;

          .address {
            margin-left: 32px;
          }

          .label {
            font-weight: bold;
            margin-bottom: 1em;
          }
          
          .value {
            color: $ae;
          }
        }
      }

      .tiny-stripe {
        color: #434343;
        padding: 16px 96px;
        justify-content: space-between;
        border-top: 1px solid;
        font-size: 12px;
      }
    }


    &.isMobile {
      .nwa-navbar {
        display: none;
      }

      .header {
        padding: 0;

        .title {
          margin-top: 1em;
          font-size: 36px;
          padding: 16px 32px;
        }

        .join {
          padding: 16px 8px 8px 16px;
          flex-wrap: wrap;
          margin-right: 8px;
          margin-left: 8px;
          margin-bottom: 8px;

          .pod {
            margin: 0 8px 8px 0;
          }
        }
      }

      .recent-posts {
        margin: 32px 0;
        padding: 32px 16px;
        .title {
          place-content: center;
          flex-wrap: wrap;
          .all {
            margin-left: unset;
          }
        }
        .post {
          padding: 16px;

          .ls {
            margin: 0;

            .icon {
              max-width: 100%;
            }
          }
        }
      }

      .related-projects {
        padding: 0;
        .projs {

          flex-wrap: wrap;

          .proj {
            flex-basis: 100%;
            margin: 0 16px 16px 16px;
          }
        }

      }

      .reviews {
        max-width: unset;
        min-height: 90vh;
        margin: 16px;

        .carousel {
          flex-direction: column;

          svg {
            height: 16px; 
            width: 16px;
          }
        }
        
        .buttons {
          svg {
            display: inline;
          }
        }
      }

      .footer {
      }

      .super-footer {
        .addresses-etc {
          padding: 0;
        }
      }
    }
  }
}