@use '../styles/colors.scss' as colors;
@use '../styles/page.scss' as page;

.page-container {
  .blog.page {
    background-image: radial-gradient(circle at top center, colors.$k-wine-dark 50%, #0c0c0b);

    .main {}

    .header,
    .footer {
      background-color: colors.$k-lightgreen;
    }

    .header {
      background-image: url('../../src/assets/img/huminalib.webp');
    }

    .recent-posts {
      padding: 32px 64px;
      max-width: page.$width;
      align-self: center;
      margin: 32px 64px;

      .title {
        font-size: 32px;
        margin-bottom: 0.5em;
        font-family: Futura, sans-serif;

        .recent {
          margin-right: 10px;
        }

        .posts {
          color: colors.$k-red;
        }

        .all {
          opacity: 0.75;
          margin-left: auto;
          font-size: 0.75em;
        }
      }

      .posts {
        .all {
          place-self: center;
          font-size: 32px;
        }
      }
    }

    &.isMobile {
      .recent-posts {
        padding: 0;
      }
    }
  }
}