@use '../styles/colors.scss' as colors;
@use '../styles/page.scss' as page;

.page-container {
  > .page.build {
    background-color: colors.$k-darkgreen;

    .main {
      .header {
        background-image: url('../../src/assets/img/build.jpeg');
      }
      
      .documentation {
        background-color: colors.$k-beige;
        padding: page.$lg page.$xl;
        align-self: stretch;
  
        .doc-links {
          flex-wrap: wrap;
          justify-content: space-between;
  
          .title {
            font-size: large;
          }
          
          .doc-link {
            flex-basis: calc(50% - page.$sm);
            margin: page.$sm page.$sm 0 0;
            padding: page.$lg;
            background-color: colors.$medium-white;
  
            img {
              max-width: 200px;
              max-height: 200px;
              margin: page.$sm;
              margin-left: 0;
              border-radius: page.$md;
            }
  
            .col {
              align-self: stretch;
              margin: page.$lg;
            }
  
            &:hover {
              background-color: colors.$light-white;
            }
          }
        }
      }

      &.isMobile {
        .documentation {
          padding: page.$md page.$sm;

          .doc-links {
            flex-wrap: wrap;
            padding: 0;

            .doc-link {
              padding: page.$sm;
              flex-basis: 100%;
            }

            img {
              max-width: 33vw;
            }
          }
        }
      }
    }
  }
}