@use '../styles/colors.scss' as colors;
@use '../styles/page.scss' as page;


.page-container {
  .get-involved.page {
    min-height: 100vh;
    background-color: colors.$k-beige;
    color: #0f0f0f;

    .main {
      .header {
        background-image: url('../../src/assets/img/getinvolved.jpeg') !important;
        
        .title {
          margin-bottom: 90vh;
        }
  
        .subtitle {
          visibility: visible;
          position: absolute;
          right: 40%;
          top: 40%;
          background-color: #00000033;
          font-size: small;
          padding: page.$md page.$lg;
          border-radius: 1em;
          max-width: 350px;
          align-self: flex-start;
          margin: 0;
          border: 1px solid #333;
          color: colors.$uq-softpink;
  
          .email-form {
            .row {
              place-items: center;
              place-content: center;
  
              .input {
                margin: 0 page.$md 0 0;
                background-color: #FFFFFF22;
                border-radius: page.$xs;
                border: none;
                padding: 7px page.$sm;
                color: inherit;
                &::placeholder {
                  color: inherit;
                }
              }
  
              .button {
                padding: page.$sm page.$md;
                background-color: #FFFFFF22;
                font-family: 'DM Mono', monospace;
                white-space: pre;
                border-radius: page.$xs;
  
                .row {
                  place-items: center;
                  place-content: center;
                  
                  .icon {
                    margin-left: page.$sm;
                  }
                }
              }
            }
          }
        }
      }
  
      &.isMobile {
        .subtitle {
          right: page.$md;
        }
      }
    }

  }
}