@use '../styles/colors.scss' as colors;
@use '../styles/page.scss' as page;


.page-container {
  .get-involved.page {
    min-height: 100vh;
    background-color: colors.$k-beige;
    color: #0f0f0f;

    .main {
      .header {
        background-image: url('../../src/assets/img/getinvolved.jpeg') !important;
      }

      .discord-icon {
        font-size: page.$xl; 
        text-shadow: 1px 1px 0px black;
        // margin: -1em 0;
      }

      .subtitle {
        margin: page.$lg auto;
        background-color: #FFFFFF22;
      }

      .discord {
        padding: page.$md calc(page.$md + 10px);
        margin: 0 auto;
        transition: all 0.1s ease;
        font-size: page.$lg;
        color: white;
        background-color: transparent;
        border: 0;
        border-radius: page.$lg;
        box-shadow: none;
        
        &:hover {
          transform: scale(1.1);
        }
      }
  
      &.isMobile {
      }
    }

  }
}