@use '../styles/colors.scss' as colors;
@use '../styles/page.scss' as page;


.page-container {
  .get-involved.page {
    min-height: 100vh;
    background-color: colors.$k-beige;
    color: #0f0f0f;

    .main {
      .header {
        background-image: url('../../src/assets/img/getinvolved.jpeg') !important;
      }

      .discord-icon {
        font-size: 2em;
        margin: -1em 0;
      }

      .discord {
        padding: 1em;
        margin: 0 auto;
        border-radius: page.$md;
        box-shadow: 0 0 page.$md 0 #00000033;
        transition: all 0.1s ease;
        font-size: page.$lg;
        background-color: colors.$k-green;
        color: white;
        
        &:hover {
          background-color: colors.$k-yellow;
          color: black;
          transform: scale(1.1);
        }
      }
  
      &.isMobile {
      }
    }

  }
}