@use '../styles/colors.scss' as colors;
@use '../styles/page.scss' as page;

.page-container {
  > .page.home {
    .main {
      background-color: colors.$k-darkred;
      .header {
        background-image: url('../../src/assets/img/home.jpeg');
        // height: 100vh

        .title {
          font-size: page.$xl;
          margin: page.$x3 0 0 0;
        }
      }

      &.isMobile {
        .header {
          .title {
            font-size: 28px;
            text-align: left;
          }
        }
      }
    }
  }
}
