@use '../styles/colors.scss' as colors;

.podcast {
  min-height: 100vh;
  font-family: 'Ubuntu Regular', 'Helvetica', sans-serif;
  letter-spacing: normal;

  .mono {
    font-family: 'PT Mono', monospace;
  }

  .xs {
    font-size: x-small;
  }

  .large {
    font-size: larger;
  }

  .sidebar {
    height: 100%;

    .firstCard {
      filter: none;
      
      .logo {
        max-width: 80vw;
        border-radius: 1em;
      }
      
      .title {
        position: absolute;
        font-size: 64px;
        align-self: flex-start;
        margin: 32px;
        
      }
    }

    &.isMobile .title {
      font-size: 48px;
    }
  }

  .yellow {
    color: colors.$nwa-yellow;
    text-shadow: 1px 1px 0 colors.$vdark-gray, 2px 2px 0 colors.$vdark-gray, 3px 3px 0 colors.$vdark-gray;
  }

  a {
    text-decoration: none;
  }

  .spin {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .aleph {
    border-radius: 999px;
    width: 44px;
    image-rendering: crisp-edges;
  }
}