@use '../styles/colors.scss' as colors;

body:has(.pokur) {
  background-color: #1b4024;
}

.pokur {
  background-image: url(../assets/img/ziggurat.png);
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 3em);
  overflow: hidden;
  margin: auto;
  
  &:not(.isMobile){
    width: 1000px;
  }


  .main {
    height: 100%; 

    &.isMobile {
      height: auto;
    }
  }

  .title {
    font-size: 3em;
    align-self: flex-end;
    width: max-content;

    &.isMobile {
      font-size: 2em;
      margin-top: 4em;
    }


    .gold {
      background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%); 
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #fff;

      .cursor {
        -webkit-text-fill-color: white;
      }
    }

    img {
      filter: invert(1);
      height: 0.6em;
      margin: 0 16px;
    }

    .typed {
      color: colors.$uq-orange;
      width: min-content;
      display: flex;
    }

    .cursor {
      color: black;
      font-size: 0.75em;
      margin-top: 0em;
    }
  }

  .sidecard {
    color: colors.$uq-softpink;
    border: 2px solid #ffffff22;
    background-color: colors.$uq-seethru-softpink;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    width: 20em;
    padding: 3em 2em 10em 2em;
    margin: 3em 0 0 0;
    
    &.isMobile {
      font-size: 0.8em;
      font-family: 'PT Mono';
      text-transform: none;
      padding: 0.75em;
      background-color: colors.$vdark-gray;
      width: 50%;
      position: absolute;
      bottom: 3em;
      left: 2em;
    }
  }


  .overlay {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(../assets/img/scanline.png);
    backdrop-filter: brightness(0.5);
    z-index: -1;
    backdrop-filter: blur(10px);
  } 

  .home-menu {
    visibility: hidden;
    z-index: 2;
    align-self:  flex-start;

    &.menuOpen {
      visibility: visible;

      .overlay {
        visibility: visible;
      }
    }

    &.isMobile {
      position: absolute;
      right: 0.25em;
      bottom: 7em;
      width: 90vw;
      font-size: 1.1em;

      .overlay {
        position: fixed;
      }
    }

    .book {
      width: 100%;
      background-color: colors.$book-black;
      border-radius: 0.5em;
      margin-bottom: 0.5em;

      h3 {
        color: colors.$uq-orange;
        font-size: xx-large;
      }

      a, a:visited { 
        text-decoration: none;
        color: white;
        margin: 0.25em 0;

        &:hover {
          color: colors.$uq-aqua;
        }
      }

      .page {
        margin-left: 16px;
        font-size: x-large;
      }

      .tabs {
        // transform: rotate(90deg);
        .tab {
          writing-mode: tb-rl;
          flex-basis: 8em;
          width: 2em;
          justify-content: center;
          border: 2px solid colors.$book-black;
          border-bottom-right-radius: 6px;
          cursor: pointer;

          &:hover {
            background-color: colors.$tab-black;
          }

          &.active {
            border-top-right-radius: 6px;
            background-color: colors.$uq-orange;
            color:black;
          }

          &.isMobile {
            flex-basis: 6em;
          }

        }
      }
    }

    .socials {
      border-radius: 0.5em;
      background-color: colors.$book-black;
      color: colors.$uq-aqua;

      a {
        margin: 0.25em 0.5em;
        background-color: colors.$tab-black;
        border-radius: 0.5em;
        padding: 0.25em 0.4em 0.1em 0.4em;
        font-size: larger;
        color: colors.$uq-aqua;
        
        &:visited {
          color: colors.$uq-aqua;
        }
      }
    }
  }

}

.pokured.marquee-container {
  // height: 2.5em;
  padding-top: 4px;
  background: #1b4024;
  color: white;
  // font-family: 'PT Mono', monospace;
  font-size: 1.5em;
  // font-weight: 800;
}
