@use '../styles/colors.scss' as colors;

// html:has(.pokur), body:has(.pokur), #root:has(.pokur)  {
//   width: 100vw;
//   height: 100vh;
//   margin: 0;
//   padding: 0
// }

body:has(.pokur) {
  background-color: #1b4024;
}

.pokur {
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../assets/img/goldtrimfelt-tr.png);
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 100px;
  
  &:not(.isMobile){
    width: 1000px;
  }

  .navbar {
    .logo-title {
      padding-top: 0;
      text-shadow: 1px 1px black;
    }
    .small {
      color: #c02030;
      text-shadow: 1px 1px black;
    }
    .logo {
      font-size: calc(1em + 2px);
      img {
        background-color: #1b4024;
        border: 2px solid #1b4024;
        border-radius: 100%;
      }
    }
  }

  .container {
    &:not(.isMobile) {
      height: auto;
      margin-bottom: 10em;
    }

    .main {
      margin-top: 1em;

      .submain {
        width: 100%;
        
        &.isMobile {
          margin-top: 2em;
        }

        .cards {
          margin: 1em 0;
          max-height: 30vh;
          height: 100vh;
          z-index:2;
          font-size: 96px;
          justify-content: center;
          
          .cback, .cfront {
            height: 4em;
            width: 2.75em;
            position: absolute;
          }
      
          .cback {
            transform: rotate(45deg);
            margin-left: 1em;
          }
      
          .cfront {
            transform: rotate(-45deg);
            margin-left: -1.25em;
          }
        }
      }
      
      &.isMobile {
        height: auto;
        max-height: 800px;

        .submain {
          margin-top: 0;

          .cards {
            font-size: 96px;
            z-index: 1;
            margin: 32px 0;
    
            .cback, .cfront {
              height: 2em;
              width: 1.5em;
            }

            .cfront {
              margin-left: -0.5em;
            }

            .cback {
              margin-left: 0.5em;
            }
          }
        }
      }

    }

    &.segmentum {
      width: calc(100vw - 1em);
      max-width: 100%;
      
      &:not(.isMobile) {
        height: max-content;
        min-height: 50vh;
        justify-content: center;
      }
    }
  }


  .title {
    margin-top: 1em;
    padding-left: 4em;
    width: max-content;
    
    &.isMobile {
      padding-left: 0;
      font-size: 3em;
    }

    
    .text.small { 
      align-self: center;
      font-size: xx-large;
    }

    .gold {
      color: #b99b54;
      text-shadow: 1px 1px black;
    }

    img {
      height: 1em;
      margin: -8px 8px 0 0;
    }

    .subtitle {
      font-size: 32px;
      &.isMobile {
        margin-left: 16px;
        font-size: 14px;
        max-width: 90vw;
      }

      .typed {
        color: #ac2430;
        text-shadow: 1px 1px black;
      }

      .cursor {
        color: white;
        animation: blink-anim 2s linear infinite;
      }
    }
  }

  .cta-l {
    flex-basis: 50%;
    height: 100%;
    margin-left: 16px;

    &:not(.isMobile) {
      height: 50%;
      margin-left: 16px;
      .cta {

        padding-left: 2em;
        padding-right: 2em;

        svg {
          margin-left: 1em;
        }
      }
    }
    
    .cta {
      height: 100%;
      // font-size: 32px;
      // padding: 1em;
      border-radius: 16px;
  
      &.isMobile {
        font-size: 20px;
      }
    }
  }

  .sidecard {
    // color: colors.$uq-softpink;
    border: 2px solid #ffffff22;
    background-color: #ffddaa11;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    // width: 40em;
    // max-width: 60vw;
    padding: 3em 2em 5em 2em;
    // margin: 3em 0 0 0;
    text-transform: uppercase;
    // align-self: flex-start;
    color: colors.$uq-softpink;
    flex-basis: 50%;
    // height: 100%;
    
    &.isMobile {
      font-size: 14px;
      padding: 0.75em;
      // width: 60%;
      // position: absolute;
      // bottom: 0;
      // left: 2em;
      height: 100%;
      font-family: 'PT Mono', monospace;
      text-transform: unset;
    }
  }


  .overlay {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(../assets/img/scanline.png);
    backdrop-filter: brightness(0.5);
    z-index: -2;
    backdrop-filter: blur(10px);
  } 

  button {
    background-color: #419756;
    padding: 5px 12px 5px 12px;
  }

  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  .flip-card {
    border-radius: 17px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    color: black;
    margin-bottom: 64px;

    &.isMobile {
      width: 90vw;
    }
    
    &:not(.isMobile) {
      margin: 0 1em;
      flex-basis: 30%;
      max-width: 30%;
  
      img {
        max-height: 50vh;
      }

      .flip-card-front {
        .text {
          margin-left: 1em;
          margin-right: 1em;
        }
      }
    }

    .link {
      width: 80%;
      align-self: center;
      position: absolute;
      bottom: 3em;
      button.grab {
        // margin-top: 2em;
        padding: 1em;
        font-size: 16px;
      }
    }

    $card-height: 421px;

    .flip-card-inner {
      position: relative;
      border-radius: 17px;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
  
    /* Do an horizontal flip when you move the mouse over the flip box container */
    &:hover .flip-card-inner {
      transform: rotateY(180deg);
    }
  
    /* Position the front and back side */
    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      border-radius: 17px;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
    }
  
    /* Style the front side (fallback if image is missing) */
    .flip-card-front {
      // background: #ac2430;
      // border: 2px solid #ac2430;
      filter: saturate(0.9) brightness(0.9);
  
      .text {
        margin-left: 1em;
        margin-right: 1em;
        justify-self: center;
        align-self: center;
        position: absolute;
        margin-top: 40%;
        color: white;
        font-size: 32px;
      }
    }
  
    /* Style the back side */
    .flip-card-back {
      justify-content: center;
      height: max-content; 
      // padding: 1em 3em;
      // background-color: white;
      background-image: url(../assets/img/cardback-blank.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      text-transform: uppercase;
      transform: rotateY(180deg);
      // border: 1em solid #ac2430;

      .text {
        position: absolute;
        top: 2em;
        left: 0;
        padding: 3em;
      }
    }
  }

  /* This container is needed to position the front and back side */
}

.pokured.marquee-container {
  height: 2.5em;
  // padding-top: 4px;
  background: #1f4729;
  color: white;
  // font-family: 'PT Mono', monospace;
  font-size: 12px;
  // font-weight: 800;
  width: 99vw;
  z-index: 2;
}

@keyframes blink-anim {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}