@use '../styles/colors.scss' as colors;

$sm: 24px;
$md: 36px;
$lg: 48px; 
$xxl: 128px; 

.privacy-policy-container {
  font-size: 24px;
  background-color: colors.$uq-spaceblu;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'Teko', Arial, Helvetica, sans-serif;
  padding: 40px;

  h2, h3, h4 {
    margin-bottom: 0;
    font-weight: 600;
  }

  .logo-text.isMobile {
    margin-bottom: 1em;

    .logo {
      padding: 0;

      img {
        height: 2em;
      }
    }

    .logo-title {
      font-size: 18px;
    }

  }

  .privacy-policy {
    margin: 0 auto;
    padding: 40px;
    z-index: 2;
    max-width: 2000px;
    // height: 90vh;

    &.isMobile {
      margin: 0;
      padding: 40px 20px;

      .container.short {
        min-height: unset !important;
        max-height: none !important;

        .title {
          font-size: 16px;
        }
      }
    }
    
  }
}

.teko {
  font-family: 'Teko', Arial, Helvetica, sans-serif;
}

.ps2p {
  font-family: 'Press Start 2P', monospace;
}

.blue {
  color: colors.$uq-elecblu;
}

.orange {
  color: colors.$uq-orange;
}