.container {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  
  &:not(.short){
    height: 100vh;
  }

  @media only screen and (max-width: 600px) {
    height: calc(100vh - 7em);
    min-height: calc(100vh - 7em);
    max-height: none;
    padding: 8px;
    margin: 0 auto;
  }
}
