@use '../styles/colors.scss' as colors;

@keyframes elongate {
  to {
    width: 125%;
  }
}

@keyframes moveDownToCenter {
  50% {
    x: 0%;
    y: 2px;
  }

  100% {
    x: 0%;
    y: 33%;
  }
}

@keyframes moveUpToCenter {
  50% {
    y: 55%;
  }

  100% {
    y: 33%;
  }
}

.circle {
  fill: colors.$k-white;
  transition: all 0.25s ease;
}

svg.hover .circle1 {
  animation: elongate 0.25s forwards, moveDownToCenter 0.5s forwards;
}

svg.hover .circle2 {
  animation: elongate 0.25s forwards, moveUpToCenter 0.5s forwards;
}