@use '../styles/colors.scss' as colors;
@use '../styles/page.scss' as page;

.menu {
  visibility: hidden;
  z-index: 4;
  align-self: flex-start;
  color: colors.$white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: brightness(0.5);
  backdrop-filter: blur(20px);
  height: 100vh;
  width: 100vw;
  padding: page.$x2;
  overflow: hidden;
  transform: translateY(-100vh);
  $open-duration: 1s;
  transition: all $open-duration ease;
  pointer-events: none;

  &.menuOpen {
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);

    .bird {
      transform: translate(-50%, -50%);
    }

    .box {
      transform: translateX(0) !important;
    }

    .items {
      transform: translateX(0);
    }

    .join-box {
      transform: translateX(0);
    }
  }

  .box-box {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: page.$lg;
    pointer-events: none;
    $margin: 10vw;

    .box {
      flex-grow: 1;
      align-self: stretch;
      padding: 10px;
      transition: all $open-duration ease;
    }

    .box1 {
      margin-right: $margin;
      transform: translateX(-100vw);
    }

    .box2 {
      margin-top: $margin;
      transform: translateX(100vw);
    }
  }

  .bird {
    position: fixed;
    background-image: url('../assets/img/hum-in-lounge-sm.jpg');
    background-size: cover;
    background-position: center;
    border-radius: page.$lg;
    width: 25vw;
    height: 75vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -200vh) scale(0.5);
    z-index: -1;
    transition: all $open-duration ease;
  }

  .items {
    z-index: 7;
    align-items: flex-start;
    transform: translateX(-100vw);
    transition: all $open-duration ease;

    a,
    a:visited {
      text-decoration: none;
      color: colors.$white;
      font-size: min(page.$xl, 10vh);
      font-family: OpenSans, sans-serif;
      letter-spacing: -0.03em;
      transition: all 0.1s ease;

      &.hovered {
        opacity: 1 !important;
      }
    }

    &.mouseIn {
      a {
        opacity: 0.5;
      }
    }
  }

  .privacy {
    margin-top: page.$xl;
    font-size: page.$md !important;
    font-family: Barlow, sans-serif !important;
    display: none;
  }

  .join-box {
    align-items: flex-end;

    &.isInFooter {
      align-items: flex-start;
    }

    margin-left: auto;
    align-self: stretch;
    margin-top: auto;
    transition: all $open-duration ease;
    transform: translateX(100vw);
  }

  .join {
    display: none;
  }

  .admin {
    font-size: min(page.$xl, 3vh);
    margin-bottom: 0.25em;
  }

  .looney {
    z-index: -1;
  }

  .socials {
    a {
      font-size: min(page.$xl, 3vh);
      color: colors.$k-white;
      margin-left: min(page.$xl, 3vh);
      transition: all 0.1s ease;
      opacity: 0.9;

      &:first-of-type {
        margin-left: auto;
      }

      &:visited {
        color: colors.$k-white;
      }

      &:hover {
        transform: scale(1.1);
        opacity: 1;
      }
    }
  }

  &.isInFooter {
    padding: page.$xl;
    min-height: 100vh !important;
    background-image: linear-gradient(to bottom, #0b0b0a, black);

    .join-box {
      margin-top: auto;
    }

    .admin {
      font-size: page.$lg !important;
    }

    .socials {
      a.social {
        font-size: page.$lg !important;
        margin: 0 0 0 page.$md;

        &:first-of-type {
          margin-left: auto;
        }
      }
    }

    .privacy {
      display: inline;
    }
  }

  &.isMobile {
    padding: page.$md;
    flex-direction: column;
    align-items: flex-start;

    .items {
      align-self: stretch;
      padding: page.$lg;
      margin-top: 10vh;
      margin-bottom: 12.5vh;
      margin-right: page.$xl;

      .link {
        font-size: page.$lg;
      }

      &::before {
        pointer-events: none;
        border-radius: page.$lg;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    .join-box {
      align-items: flex-start;
      margin: 0;
      gap: page.$md;
      padding: page.$lg ;
      margin-bottom: page.$lg;
      margin-right: page.$lg;

      .join {}

      .admin {}

      .socials {
        gap: 1em;

        .social {

          font-size: page.$lg;
        }
      }

      &::before {
        border-radius: page.$lg;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }


    .box-box {
      display: none;
    }

    .bird {
      width: 50vw;
      height: 50vw;
      right: 10%;
      transform: translate(-10%, -50%);
      background-position: 50% 20%;

      &::before {
        border-radius: page.$lg;
      }
    }

    .privacy {
      margin-top: auto;
    }
  }
}