@use '../styles/colors.scss' as colors;

.menu {
  visibility: hidden;
  z-index: 2;
  align-self:  flex-start;
  color: white;

  &.menuOpen {
    visibility: visible;

    .overlay {
      visibility: visible;
    }
  }

  &.isMobile {
    font-size: 12px;
    position: fixed;
    right: 0.25em;
    bottom: 7em;
    width: 90vw;

    .overlay {
      position: fixed;
    }
  }

  .overlay {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(../assets/img/scanline.png);
    backdrop-filter: brightness(0.5);
    z-index: -1;
    backdrop-filter: blur(10px);
  } 

  .book {
    width: 100%;
    background-color: colors.$book-black;
    border-radius: 0.5em;
    margin-bottom: 1em;

    h3 {
      color: colors.$nec-orange;
      font-size: x-large;
    }

    a, a:visited { 
      text-decoration: none;
      color: white;
      margin: 0.5em 0;

      &:hover {
        color: colors.$nec-gold;
      }
    }

    .page {
      margin-left: 16px;
      font-size: 16px;
    }

    .tabs {
      // transform: rotate(90deg);
      .tab {
        writing-mode: tb-rl;
        flex-basis: min(35vw, 100vh);
        width: 1em;
        justify-content: center;
        border: 2px solid colors.$book-black;
        border-bottom-right-radius: 6px;
        cursor: pointer;
        padding: 1em 0;

        &:hover {
          background-color: colors.$tab-black;
        }

        &.active {
          border-top-right-radius: 6px;
          background-color: colors.$nec-orange;
          color:black;
        }

        &.isMobile {
          flex-basis: 6em;
        }

      }
    }
  }

  .socials {
    border-radius: 0.5em;
    background-color: colors.$book-black;
    color: colors.$nec-gold;

    a {
      margin: 0.25em 0.5em;
      background-color: colors.$tab-black;
      border-radius: 0.5em;
      padding: 0.5em;
      font-size: large;
      color: colors.$nec-gold;
      
      &:visited {
        color: colors.$nec-gold;
      }
    }
  }
}
