@use '../styles/colors.scss' as colors;
@use '../styles/page.scss' as page;

.menu {
  visibility: hidden;
  z-index: 4;
  align-self: flex-start;
  color: colors.$white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: brightness(0.5);
  backdrop-filter: blur(20px);
  height: 100vh;
  width: 100vw;
  padding: page.$x2;
  overflow: hidden;

  &.menuOpen {
    visibility: visible;
  }

  .box-box {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: page.$lg;
    pointer-events: none;

    .box {
      flex-grow: 1;
      align-self: stretch;
      padding: 10px;
    }

    .box1 {
      margin-right: page.$x3;
    }

    .box2 {
      margin-top: page.$x3;
    }
  }

  .bird {
    position: fixed;
    background-image: url('../assets/img/hum-in-lounge-sm.jpg');
    background-size: cover;
    background-position: center;
    border-radius: page.$xl;
    width: 22vw;
    height: 64vh;
    right: 39vw;
    top: 18vh;
    z-index: -1;
  }

  .items {
    z-index: 7;
    align-items: flex-start;

    a,
    a:visited {
      text-decoration: none;
      color: colors.$white;
      font-size: min(page.$x2, 10vh);
      font-family: OpenSans, sans-serif;
      letter-spacing: -0.03em;
      transition: all 0.1s ease;
      background: -webkit-radial-gradient(ellipse at center,
          colors.$white 60%,
          transparent 70%);
      background: radial-gradient(ellipse at center, colors.$white 50%, transparent 80%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &.hovered {
        opacity: 1 !important;
      }
    }

    &.mouseIn {
      a {
        opacity: 0.5;
      }
    }
  }

  .privacy {
    margin-top: page.$xl;
    font-size: page.$md !important;
    font-family: Barlow, sans-serif !important;
  }

  .join-box {
    align-items: flex-end;

    &.isInFooter {
      align-items: flex-start;
    }

    margin-left: auto;
    align-self: stretch;
    margin-top: auto;
  }

  .join {
    display: none;
  }

  .josh {
    font-size: min(page.$xl, 5vh);
    margin-top: -1.5em;
    margin-bottom: 0.5em;
  }

  .looney {
    z-index: -1;
  }

  .socials {
    a {
      font-size: min(page.$x2, 5vh);
      color: colors.$k-white;
      margin-left: min(page.$x2, 5vh);
      transition: all 0.1s ease;
      opacity: 0.9;

      &:first-of-type {
        margin-left: auto;
      }

      &:visited {
        color: colors.$k-white;
      }

      &:hover {
        transform: scale(1.1);
        opacity: 1;
      }
    }
  }

  &.isInFooter {
    padding: page.$xl;
    min-height: 100vh !important;
    background-image: linear-gradient(to bottom, #0b0b0a, black);

    a {
      font-family: BarlowBold, sans-serif;
    }

    .join-box {
      margin-top: auto;
    }

    .josh {
      font-size: page.$lg !important;
    }

    .socials {
      a.social {
        font-size: page.$lg !important;
        margin: 0 0 0 page.$md;

        &:first-of-type {
          margin-left: auto;
        }
      }
    }
  }

  &.isMobile {
    padding: page.$md;
    flex-direction: column;
    place-items: center;
    place-content: center;

    .items {
      margin-bottom: 10vh;
    }

    .join {
      align-self: unset !important;
    }

    .join-box {
      flex-grow: 1;
      place-content: center;
      place-items: center;
      margin: 0;
    }

    .josh {
      margin-top: auto;
    }

    .box-box,
    .bird {
      display: none;
    }

    .socials {
      margin-bottom: page.$lg;
    }

    .privacy {
      margin-top: auto;
    }
  }
}