@use '../../styles/colors.scss' as colors;
@use '../../styles/page.scss' as page;

.post-card {
  position: relative;
  transition: all ease-in-out 0.2s;
  border-radius: page.$lg;
  padding: page.$lg;
  display: flex;
  flex-direction: column;
  font-family: OpenSansReading, sans-serif;
  transition: all 0.1s ease;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent, colors.$k-white);
    border-radius: page.$lg;
    pointer-events: none;
    opacity: 0.05;
    transition: all 0.1s ease;
  }

  .shine {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    &::before {
      position: absolute;
      pointer-events: none;
      border-radius: page.$lg;
    }
  }


  &:hover {
    transform: translate(0, - page.$sm);

    .bg {
      opacity: 0.1;
    }
  }

  .post-card-content {
    .left-side {
      width: 50%;
      border-radius: page.$md;
      flex-grow: 1;
      align-self: stretch;
      background-position: center;
      background-size: cover;
      margin-right: page.$lg;
    }

    .post-deets {
      width: 50%;

      a {
        text-decoration: none;
        font-weight: bold;
        color: colors.$k-orange;
        transition: all 0.1s ease;

        &:hover {
          text-decoration: underline;
          color: colors.$k-white;
        }
      }

      .post-title {
        .permalink {
          text-decoration: none;
          color: inherit;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .post-content {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        white-space: normal;

      }

      .post-footer {
        margin: page.$lg 0;

        .author-pic {
          width: page.$lg;
          height: page.$lg;
          border-radius: page.$lg;
          background-size: cover;
          background-position: center;
          margin-right: page.$md;

        }

        .author-name {
          font-weight: bold;
        }

        .timestamp {
          font-weight: bold;
        }

      }
    }
  }

}