@use '../../styles/colors.scss' as colors;
@use '../../styles/page.scss' as page;

.post {
  position: relative;
  .orange {
    text-shadow: 1px 1px black;
    flex-basis: 60%;
  }

  p {
    margin: 0;
  }

  .clock {
    margin: 8px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }

  .buttons {
    position: absolute;
    top: page.$sm;
    right: page.$sm;

    .button {
      font-size: 16px !important;
    }
  }
}
