@use '../../styles/page.scss' as page;
@use '../../styles/colors.scss' as colors;

.post-sections {
  padding: page.$x2;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: OpenSans;
  }

  .section {
    margin-top: page.$x2;

    .section-header {
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: page.$xl;

      h1 {
        margin: 0;
      }

      .shb {
        border: 1px solid colors.$white;
        font-family: OpenSansReading;
        font-weight: bold;
        font-size: 1rem;
        padding: page.$sm page.$md;
        white-space: pre;
      }
    }

    .section-posts {
      .post-card {
        flex-basis: 100%;

        &:not(:last-of-type) {
          margin-right: page.$md;
        }

        &.small {
          max-width: 33%;
        }
      }
    }

    &.all {
      .section-posts {
        flex-wrap: wrap;

        .post-card {
          margin-bottom: page.$md;
          margin-right: 0;
          max-width: 100%;
        }
      }
    }
  }

  &.isMobile {
    padding: page.$xl page.$md;

    .section {
      .section-posts {
        flex-direction: column;

        .post-card {
          width: 100%;
          margin-right: 0;
          margin-bottom: page.$md;
        }
      }
    }
  }
}