@use '../../styles/page.scss' as page;

.page.cave {
  background-color: black;
  position: relative;
  overflow: hidden;
  $height: 100vh;
  height: $height;
  margin-bottom: page.$xl;

  .background {
    position: relative;
    overflow: hidden;

    video {
      &.bg-vid {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; // This will cover the entire area of the div without stretching the video
        z-index: -1; // Ensures the video stays in the background
      }

      &.centerpiece {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -0%);
        height: 67%;
        object-fit: cover; // This will cover the entire area of the div without stretching the video
      }
    }

    // Existing styles for .background
    background-image: none !important; // Remove or comment out since video is used
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
  }

  .brighter {
    border-radius: page.$lg;
    backdrop-filter: brightness(2);
    border-image: none !important;
    height: calc($height * 3/4);

    &::before {
      border-radius: page.$lg;
    }
  }

  .dimmer,
  .background {
    height: calc($height * 3/4);
  }

  &.isMobile {
    margin-bottom: 0;
    height: calc(1.25 * $height);

    .bord {
      top: 20%;
      left: 50%;
      transform: translate(-50%, -20%);
      width: 25vw;
    }

    .brighter {
      height: calc($height * 3/4);
    }
  }
}