@use '../../styles/colors.scss' as colors;

.home-menu-container {
  position: absolute;
  right: 1em;
  top: 24px;
  z-index: 3;
  font-size: 14px;

  &.isMobile {
    position: fixed;
    right: 1em;
    bottom: 1em;
    top: unset;
  }

  .menu-button {
    margin-bottom: 1em;
    align-self: flex-end;

    .icon {
      margin-left: 0.5em;
    }
  }

  &.open {
    .menu-button {
      background-color: colors.$open-black;
      color: white;

      .icon {
        transform: rotate(45deg);
      }
    }
  }
}