@use '../../styles/colors.scss' as colors;

.menu-button-container {
  position: absolute;
  right: 1em;
  top: 5px;
  z-index: 5;

  &.isMobile {
    position: fixed;
    top: 1.4em;
  }

  .menu-button {
    margin-bottom: 1em;
    padding: 0 0.5em;
    align-self: flex-end;
    font-family: OpenSansLight;
    font-weight: bold;
    font-size: 32px;
    text-shadow: 0 0 32px rgba(0, 0, 0, 0.63);

    .text {
      transition: all 0.5s ease;
      opacity: 1;
      transform: translateX(0);
    }

    .icon {
      margin-left: 0.5em;
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.2), transparent 60%, transparent);
    }

    &:hover {
      .text {
        transform: translateX(100%);
        opacity: 0;
      }
    }
  }

  &.open {
    .menu-button {
      &.isMobile {
        position: fixed;
        top: 1em;
        margin-bottom: 0.5em;
      }

      .icon {
        transform: rotate(45deg);
        margin: 0;
      }
    }
  }
}