@use './styles/colors.scss' as colors;
@use './styles/page.scss' as page;

@font-face {
  font-family: 'Futura';
  src: url('./assets/fonts/Futura-Heavy.ttf');
}

@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/OpenSans-CondBold.ttf');
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('./assets/fonts/OpenSans-CondLight.ttf');
}

@font-face {
  font-family: 'OpenSansReading';
  src: url('./assets/fonts/OpenSans-Reading.ttf');
}

@font-face {
  font-family: 'Barlow';
  src: url('./assets/fonts/BarlowCondensed-Black.ttf');
}

@font-face {
  font-family: 'BarlowBold';
  src: url('./assets/fonts/BarlowCondensed-Bold.ttf');
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: colors.$white;
  font-family: Barlow, sans-serif;
  letter-spacing: -0.03em;
}

.osl {
  font-family: OpenSansLight;
}

.mr1 {
  margin-right: 1em;
}

.mb1 {
  margin-bottom: 1em;
}

.ml1 {
  margin-left: 1em;
}

.mt1 {
  margin-top: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-weight: normal;
  font-family: BarlowBold, sans-serif;
}

.shine {
  &::before {
    height: 100%;
    width: 100%;
    content: "";
    inset: 0;
    border-radius: page.$xl;
    padding: 1px;
    background:
      linear-gradient(to right, transparent, colors.$k-dimwhite, transparent),
      linear-gradient(to bottom, transparent, colors.$k-dimwhite, transparent);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  &.super-shine {
    &::before {
      background:
        linear-gradient(to right, transparent 15%, colors.$k-dimwhite 50%, transparent 85%),
        linear-gradient(to bottom, transparent 15%, colors.$k-dimwhite 50%, transparent 85%);
    }
  }
}

.kinode {
  font-family: Futura, sans-serif;
  letter-spacing: 0.25em;
  position: relative;

  .reg {
    position: absolute;
    font-size: 1rem;
    bottom: 2.5rem;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}