@use '../../styles/colors' as colors;

.link {
  color: colors.$white;
  text-decoration: none;
  cursor: pointer;

  &.button {
    width: fit-content;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    place-content: center;
  }

  &.underline {
    text-decoration: underline;
  }
}