@use '../../styles/colors.scss' as colors;
@use '../../styles/page.scss' as page;
.navbar {
  justify-content: space-between;
  position: relative;
  // font-family: 'Kabel Black', monospace;
  padding: 8px 16px;

  .logo-title {
    font-size: page.$lg;
    text-shadow: 1px 1px 0px #00000088;
    font-weight: bold;
  }

  .nav-link {
    padding: 8px 16px;
    text-decoration: none;
    margin-bottom: -2px;
    font-weight: 600;
    color: colors.$uq-purple;
    border-bottom: 2px solid colors.$uq-lightpink;

    &.logo {
      border-bottom: 2px solid transparent;
      background: colors.$k-yellow;
      border-radius: 999px;
      padding: 8px;
      margin-right: 1em;
      margin-bottom: 1px;
      box-shadow: 1px 1px 0px #00000088;
    }

    @media only screen and (max-width: 520px) {
      padding: 8px 20px;
    }

    &.selected {
      border-bottom-color: colors.$uq-purple;
    }

    &.logo {
      img {
        height: 3em;
      }
    }
  }
}
