@use '../../styles/colors.scss' as colors;
@use '../../styles/page.scss' as page;

.navbar {
  justify-content: space-between;
  position: relative;
  padding: 0 page.$xs;
  z-index: 20;

  .logo-title {
    font-size: page.$xl;
    text-shadow: 1px 1px 0px #00000088;
    font-weight: 1000;
  }

  .back {
    text-shadow: 0 0 32px rgba(0, 0, 0, 0.63);
    font-family: OpenSansLight;
    font-weight: bold;
    font-size: page.$lg;

    svg {
      margin-right: 1em;
      background: radial-gradient(rgba(0, 0, 0, 0.15), transparent 80%)
    }
  }

  .nav-link {
    padding: 8px 16px;
    text-decoration: none;
    margin-bottom: -2px;
    font-weight: 600;

    &.logo {
      border-bottom: 2px solid transparent;
      padding: 8px;
      margin-right: 1em;
      margin-bottom: 1px;
    }

    @media only screen and (max-width: 520px) {
      padding: 8px 20px;
    }

    &.logo {
      img {
        height: page.$xl;
        margin: page.$sm;
      }
    }
  }

  &.isMobile {
    .logo-title {
      font-size: page.$lg;
    }

    .logo {
      img {
        height: page.$lg;
        margin: 0;
      }
    }
  }
}