@use '../../styles/colors.scss' as colors;
@use '../../styles/page.scss' as page;
.navbar {
  justify-content: space-between;
  position: relative;
  // font-family: 'Kabel Black', monospace;
  padding: page.$sm page.$md;

  .logo-title {
    font-size: page.$xl;
    text-shadow: 1px 1px 0px #00000088;
    font-weight: 1000;
  }

  .nav-link {
    padding: 8px 16px;
    text-decoration: none;
    margin-bottom: -2px;
    font-weight: 600;

    &.logo {
      border-bottom: 2px solid transparent;
      background-color: colors.$k-yellow;
      border-radius: 999px;
      padding: 8px;
      margin-right: 1em;
      margin-bottom: 1px;
    }

    @media only screen and (max-width: 520px) {
      padding: 8px 20px;
    }

    &.logo {
      img {
        height: 2.5em;
        margin: 0.5em;
      }
    }
  }

  &.isMobile {
    .logo-title {
      font-size: page.$lg;
    }
  }
}
